<!-- Footer Partial-->
<footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">GO.SIP is a news portal reporting on art, trends, lifestyle, and obviously gossip.</p>
    </div>
    <!-- /.container -->
  </footer>
  
   <!-- Bootstrap core JavaScript -->
   <script src="/css/vendor/jquery/jquery.min.js"></script>
   <script src="/css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>