<!-- Main page content for underage users -->

<header class="jumbotron my-4">
    <div id='con'>
    <img class="card-img-top" id='kid' src="/img/social_media.jpg" alt="">
    <div id='overlay'></div></div>
  <h1 class="display-3">Social Media</h1>
  <p class="lead">Virals, influencers, trends</p>
  <a href="/articles/Social-Media" class="btn btn-danger btn-lg" onclick="check_cat_art('social_media');">Check Out!</a>
</header>