<!-- A card with a link to the age restricted content. Wont show on the main page
of the person who declared they are under 18 -->

<header class='jumbotron my-4'>
    <div id='con'>
    <img class='card-img-top' id='x' src='/img/x.jpg' alt=''>
    <div id='overlay'></div></div>
  <h1 class='display-3'>Spiced Tea</h1>
  <p class='lead'>If you were not honest about your age, this is the time to turn around.</p>
  <a href='/articles/Special' class='btn btn-danger btn-lg' onclick="check_cat_art('special');">Special content!</a>
</header>